URxvt.depth: 32
URxvt.background: rgba:1400/1400/1400/eeee
URxvt.scrollstyle: plain 
URxvt.foreground: rgba:ffff/ffff/ffff/ffff
!URxvt.font: xft:Anonymous Pro:size=16:antialias=true:hinting=true
URxvt.font: xft:AnonymicePowerline:size=16:antialias=true
Urxvt.letterSpace: 1
URxvt.scrollBar_right: true
URxvt.saveLines: 65535
URxvt.intensityStyles: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

URxvt*color0:   #141414
URxvt*color1:   #cf6a4c
URxvt*color2:   #839061
URxvt*color3:   #cda869
URxvt*color4:   #7587a6
URxvt*color5:   #9b859d
URxvt*color6:   #05a6b3
URxvt*color7:   #709080

URxvt*color8:   #cc9393
URxvt*color9:   #7f9f7f
URxvt*color10:  #f0dfaf
URxvt*color11:  #9b859d
URxvt*color12:  #7587a6
URxvt*color13:  #0ae6e6
URxvt*color14:  #ffffff
